<div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" class="logo-default">
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
        <!-- Slide 2 -->
        <div class="slide kenburns" style="background-image:url('assets/images/formations/bg.png');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>{{ 'formation.title'|translate }}</h1>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->

    </div>
    <!--end: Inspiro Slider -->


    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>{{ 'service.what_we_do'|translate }}</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">

                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.douane'|translate }}</h5>
                                <p class="card-text">{{ 'formation.douane_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>


                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.impots_fiscalite'|translate }}</h5>
                                <p class="card-text">{{ 'formation.impots_fiscalite_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>

                        </div>
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.impots_tresor'|translate }}</h5>
                                <p class="card-text">{{ 'formation.impots_tresor_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">

                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.banques_finance'|translate }}</h5>
                                <p class="card-text">{{ 'formation.banques_finance_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>


                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.comptabilite'|translate }}</h5>
                                <p class="card-text">{{ 'formation.comptabilite_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>

                        </div>
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.audit'|translate }}</h5>
                                <p class="card-text">{{ 'formation.audit_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">

                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.pont'|translate }}</h5>
                                <p class="card-text">{{ 'formation.pont_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>


                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.geo'|translate }}</h5>
                                <p class="card-text">{{ 'formation.geo_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>

                        </div>
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.construction_bat'|translate }}</h5>
                                <p class="card-text">{{ 'formation.construction_bat_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">

                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.collaborateur_archi'|translate }}</h5>
                                <p class="card-text">{{ 'formation.collaborateur_archi_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>


                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.dessinateur_projet'|translate }}</h5>
                                <p class="card-text">{{ 'formation.dessinateur_projet_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>

                        </div>
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.elect_bat'|translate }}</h5>
                                <p class="card-text">{{ 'formation.elect_bat_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">

                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.electronique'|translate }}</h5>
                                <p class="card-text">{{ 'formation.electronique_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>


                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.delegue_medical'|translate }}</h5>
                                <p class="card-text">{{ 'formation.delegue_medical_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>

                        </div>
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.auxiliaire_pharmacie'|translate }}</h5>
                                <p class="card-text">{{ 'formation.auxiliaire_pharmacie_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">

                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.mines'|translate }}</h5>
                                <p class="card-text">{{ 'formation.mines_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>


                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.petrole'|translate }}</h5>
                                <p class="card-text">{{ 'formation.petrole_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>

                        </div>
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.env'|translate }}</h5>
                                <p class="card-text">{{ 'formation.env_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 12 mois </small>&nbsp;
                                <button routerLink="/admission" class="btn btn-xs ">Admission</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>


        </div>
    </section>






    <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>